html,
body {
    overflow-x: hidden;
    margin: 0px;
    color: white;
    background-color: rgb(25, 78, 80);
}

header {
    font-family: 'Lobster', cursive;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 24px;
}

.titulo {
    color: white;
    padding: 15px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(2, 2, 2);
    box-shadow: 0px 0px 20px rgb(40, 40, 40);
}

.carta {
    width: 120px;
    position: relative;
    left: 100px;
    margin-left: -75px;
    box-shadow: 0px 10px 20px rgb(36, 36, 36);
}

#jugador-cartas,
#computadora-cartas {
    height: 200px;
}